<form #registerForm="ngForm" (ngSubmit)="register()" class="form-group">
    <h2 class="text-center text-primary">
        Sign Up

    </h2>
    <hr>
    <div class="form-group">
        <input class="form-control" name="userName" [(ngModel)]="model.userName" placeholder="userName">
      </div>
      <div class="form-group">
        <input class="form-control" name="email" [(ngModel)]="model.email" placeholder="email">
      </div>
      <div class="form-group">

        <input class="form-control" name="password" [(ngModel)]="model.password" placeholder="password">
    </div>

    <div class="form-group">
        <input class="form-control" name="phone" [(ngModel)]="model.phone" placeholder="phone">
      </div>
      <div class="form-group">

        <input class="form-control" name="identityNumber" [(ngModel)]="model.identityNumber" placeholder="identityNumber">
    </div>

    <div class="form-group">
        <input class="form-control" name="roleId" [(ngModel)]="model.roleId" placeholder="roleId">
      </div>
      <div class="form-group">

        <input class="form-control" name="photo" [(ngModel)]="model.photo" placeholder="photo">
    </div>


   <!-- @input example--> 
    <div class="form-group">
       <label >Who is your favourite user ?</label>
       <select name="" id="" class="form-control">
        <option *ngFor="let user of usersFromHomeComponent" [value]="user.userName">
            {{user.userName}}
        </option>
       </select>
    </div>

    <div class="form-group text-center my-2">
        <button class="btn btn-success mx-2" type="submit">Register</button>
        <button class="btn btn-danger mx-2" (click)="cancel()" type="submit">Cancel</button>

    </div>
</form>